{% extends 'base.html' %}

{% block title %}
Posts
{% endblock %}

{% block body %}
<h2 class="position-relative">
  Posts
  <span class="position-absolute top-0 translate-middle-y badge rounded-pill bg-success fs-6 fst-italic fw-normal">
    {{ posts | length }}
  </span>
</h2>

<div>
  <ul>
    {% for post in posts %}
    <li>
      <p class="btn btn-outline-dark position-relative my-2 text-start">
        {{ post }}
        <span class="position-absolute top-0 translate-middle-y badge rounded-pill bg-light text-secondary fst-italic fw-normal" style="left: 10px;">
          Updated at {{ post.updated_at }}
        </span>
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
