{% extends 'base.html' %}

{% block title %}
{% if post %}
Post #{{ post.pk }}
{% else %}
New post
{% endif %}
{% endblock %}

{% block body %}
{% if post %}
<h2>Post details</h2>
<div>
  Created at {{ post.created_at }}
</div>
<div>
  Updated at {{ post.updated_at }}
</div>
{% else %}
<h2>New post</h2>
{% endif %}

<div class="mt-2">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary my-2" type="submit" value="Save">
  </form>
</div>

<div class="mt-2">
  <a class="link-secondary" href="{% url 'posts:list' %}">
    Back to Posts
  </a>
</div>
{% endblock %}
